.git
.github
.gitignore
.dockerignore
render.yaml

node_modules
vendor
public/build
public/hot
public/storage

.env
.env.*
!.env.example

.claude
.idea
.fleet
.nova
.vscode
.zed

tests
test-results
*.md

storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
!storage/framework/*/.gitignore
storage/logs/*
!storage/logs/.gitignore

.phpunit.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
docker-compose.yml
